:root {
  --blue: #0d6efd;
  --navy: hsl(198, 80%, 55%);
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 95%);
}

.blue { color: var(--blue); }
.indigo { color: var(--indigo); }
.purple { color: var(--purple); }
.pink { color: var(--pink); }
.red { color: var(--red); }
.orange { color: var(--orange); }
.yellow { color: var(--yellow); }
.green { color: var(--green); }
.teal { color: var(--teal); }
.cyan { color: var(--cyan); }
.white { color: var(--white); }
.gray { color: var(--gray); }
.gray-dark { color: var(--gray-dark); }

.bg-blue { background-color: var(--blue); }
.bg-indigo { background-color: var(--indigo); }
.bg-purple { background-color: var(--purple); }
.bg-pink { background-color: var(--pink); }
.bg-red { background-color: var(--red); }
.bg-orange { background-color: var(--orange); }
.bg-yellow { background-color: var(--yellow); }
.bg-green { background-color: var(--green); }
.bg-teal { background-color: var(--teal); }
.bg-cyan { background-color: var(--cyan); }
.bg-white { background-color: var(--white); }
.bg-gray { background-color: var(--gray); }
.bg-gray-dark { background-color: var(--gray-dark); }

.center { text-align: center; }

/* Overrides */
.alert-info {
  background-color: var(--navy);
  color: #eee;
}